body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    flex: 0 0 auto;
}

.site-content {
    flex: 1 0 auto;
}

.logo { width: 100%; margin-bottom: 1rem; }

.right {
    float: right;
}

@media (min-width: 992px) {
    .logo {
        height: 150px!important;
        width: auto;
    }
}