<footer class="bg-gray-200 shadow mt-4 dark:bg-gray-800 py-2">
    <div class="w-full flex flex-row justify-between mx-auto max-w-screen p-4 px-20 md:items-center">
        <span class="text-sm text-gray-500 sm:text-center flex flex-col md:flex-row justify-center align-middle dark:text-gray-400">
            <div><span class="pr-1">&copy; {{ now.Year }}</span>
            <a href="{{ .Site.baseURL }}" class="hover:underline pr-3">Bornais Music&trade;</a></div>
            <span class="inline-block">All Rights Reserved.</span>
        </span>
        <ul class="flex flex-col md:flex-wrap md:flex-row lg:items-center text-sm font-medium text-gray-500 dark:text-gray-400">
            <li class="mb-1 lg:mb-0"><a href="#" class="hover:underline me-4 md:me-6">About</a></li>
            <li class="mb-1 lg:mb-0"><a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a></li>
            <li class="mb-1 lg:mb-0"><a href="#" class="hover:underline">Contact</a></li>
        </ul>
    </div>
</footer>